.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    z-index: 100;
    /* background-color: white; */
}
.header__logo{
    object-fit: contain;
    height: 40px;
}
.header__icon{
    padding: 18px;
}